.reveal section.back h2,
.reveal section.back h3,
.reveal section.back p,
.reveal section.back li {
  color: #FFFFFF
}

.reveal section.back-with-white h2 {
  color: #FFFFFF
}

.reveal section.back-with-white p {
  color: #000000
}
